body {
    background-image: url("../images/PixarBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    
}

#start-button {
    width: 150px;
    height: 75px;
}

#trivia-questions {

    opacity: 0%;
    background-color: gold;
    width: 75%;
    height: 75%;
    padding-left: 75px;
    border-left: 25%;
    left: 25px;

}

h1 {
    text-align: center;
}

h2 {
    font-size: 20px;
}

#Timer {
    background-color: yellow;
}

#correct-counter, #incorrect-counter, #blank-counter {
    background-color: yellow;
}

#start-button {
    position: center;
}